mat-toolbar {
  position: sticky;
  z-index: 999;
  top: 0;
  mat-toolbar-row {
    background-color: #2d62ed;
    mat-icon {
      color: #ffffff;
    }
    div {
      color: #ffffff;
      font-weight: 600;
      width: 100%;
      img {
        margin: 0 10px;
      }
    }
  }
}
