<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSide()">
      <mat-icon>menu</mat-icon>
    </button>
    <div
      class="d-flex justify-content-end align-items-center justify-content-sm-center"
    >
      <img src="./assets/img/factoryIcon (2).svg" alt="" />MES
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <h1>header work</h1> -->
<!-- <p>
  <mat-toolbar color="primary" style="background-color: #2d62ed">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="sideToggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span style="padding: 0 10px">
      <img src="./assets/img/factoryIcon (2).svg" alt=""
    /></span>
    <span>MES</span>
    <span class="example-spacer"></span> -->
<!-- <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button> -->
<!-- </mat-toolbar>
</p> -->
