<div class="head d-flex justify-content-between align-items-center">
  <div class="title d-flex align-items-center">
    <img src="./assets/img/Material.svg" class="me-1" alt="" />
    <h1>ADD NEW CATALOGE</h1>
  </div>
  <i class="material-icons" (click)="close()">close</i>
</div>
<hr />
<div class="content">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Item Cataloge">
      <form class="example-form" [formGroup]="form" style="margin: 35px 0 0 0">
        <mat-form-field class="example-full-width">
          <mat-label>Item Code</mat-label>
          <input matInput placeholder="Ex. 41293" formControlName="item" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Supplier Code</mat-label>
          <input matInput placeholder="Ex. 11492" formControlName="supp" />
        </mat-form-field>
      </form>
      <form class="example-form" [formGroup]="form" style="margin: 0">
        <mat-form-field class="example-full-width">
          <mat-label>Material Name</mat-label>
          <input
            matInput
            placeholder="Ex. Aluminum"
            formControlName="matName"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Material Type (Optional)</mat-label>
          <input
            matInput
            placeholder="Ex. Material Type 1"
            formControlName="matType"
          />
        </mat-form-field>
      </form>
      <br />
      <br />
      <div class="btns text-center">
        <button
          class="btn btn-danger"
          style="margin-right: 15px"
          (click)="out()"
        >
          <h2>CANCEL</h2>
        </button>
        <button
          class="btn btn-primary"
          [disabled]="form.invalid"
          (click)="addNew()"
        >
          <h2>ADD NEW</h2>
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Product Cataloge">
      <form class="example-form" [formGroup]="form" style="margin: 35px 0 0 0">
        <mat-form-field class="example-full-width">
          <mat-label>Product ID</mat-label>
          <input matInput placeholder="Ex. 49120" formControlName="item" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Product Name</mat-label>
          <input matInput placeholder="Ex. Armoring" formControlName="supp" />
        </mat-form-field>
      </form>
      <form class="example-form" [formGroup]="form" style="margin: 0">
        <div
          class="form-slide"
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          "
        >
          <mat-form-field class="example-full-width">
            <mat-label>Bill Of Products</mat-label>
            <input matInput placeholder="Ex. 990" formControlName="matName" />
          </mat-form-field>
          <mat-slide-toggle>Semi Finished Product</mat-slide-toggle>
        </div>
      </form>

      <br />
      <br />
      <div class="btns text-center">
        <button
          class="btn btn-danger"
          style="margin-right: 15px"
          (click)="out()"
        >
          <h2>CANCEL</h2>
        </button>
        <button
          class="btn btn-primary"
          [disabled]="form.invalid"
          (click)="addNew2()"
        >
          <h2>ADD NEW</h2>
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
