<div class="row title-sec">
  <div class="col-md-8 col-sm-12">
    <div class="info">
      <h1>WELCOME TO MES</h1>
      <p>We're Glad To Have You Join Us.</p>
      <button mat-stroked-button color="black" routerLink="/login">
        GOT AN ACCOUNT? SIGN IN
      </button>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 login-sec">
    <img src="./assets/img/factoryIcon.svg" alt="" />
    <h1>MES</h1>
    <form [formGroup]="myForm" class="example-form" (ngSubmit)="onSubmit()">
      <input
        type="username"
        name=""
        id=""
        placeholder="USERNAME"
        formControlName="username"
      />
      <h3 *ngIf="username.invalid && username.dirty && username.touched">
        Username Must Be Minimum of 3 Characters !
      </h3>
      <input
        type="email"
        name=""
        id=""
        placeholder="EMAIL"
        formControlName="email"
      />
      <h3 *ngIf="email.invalid && email.dirty && email.touched">
        Please enter a valid email address !
      </h3>
      <input
        type="password"
        name=""
        id=""
        placeholder="PASSWORD"
        formControlName="password"
      />
      <h3 *ngIf="password.invalid && password.dirty && password.touched">
        Password Must Be Minimum of 5 characters!
      </h3>
      <input
        type="password"
        name=""
        id=""
        placeholder="CONFIRM PASSWORD"
        formControlName="confirmPassword"
      />
      <h3 *ngIf="myForm.errors">Password Not Matched !</h3>
      <button type="submit" mat-raised-button [disabled]="myForm.invalid">
        REGISTER
      </button>
    </form>
  </div>
</div>
