<div class="row title-sec">
  <div class="col-md-8 col-sm-12">
    <div class="info">
      <h1>WELCOME TO FMS</h1>
      <p>We're Glad To Have You Join Us.</p>
      <button mat-stroked-button color="black" routerLink="/login">
        GOT AN ACCOUNT? SIGN IN
      </button>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 login-sec">
    <img src="./assets/img/factoryIcon.svg" alt="" />
    <h1>MES</h1>
    <form [formGroup]="myForm" class="example-form" (ngSubmit)="onSubmit()">
      <input
        type="username"
        name=""
        id=""
        placeholder="USERNAME"
        formControlName="username"
      />
      <input
        type="email"
        name=""
        id=""
        placeholder="EMAIL"
        formControlName="email"
      />

      <input
        type="password"
        name=""
        id=""
        placeholder="PASSWORD"
        formControlName="password"
      />
      <input
        type="password"
        name=""
        id=""
        placeholder="CONFIRM PASSWORD"
        formControlName="confirmPassword"
      />
      <button type="submit" mat-raised-button [disabled]="myForm.invalid">
        REGISTER
      </button>
      <div>
        <mat-card *ngIf="email.invalid && email.dirty && email.touched">
          <mat-card-content
            >Please enter a valid email address !</mat-card-content
          >
        </mat-card>
      </div>
      <div>
        <mat-card
          *ngIf="password.invalid && password.dirty && password.touched"
        >
          <mat-card-content
            >Password Must Be Minimum of 5 characters!</mat-card-content
          >
        </mat-card>
      </div>
      <div>
        <mat-card
          *ngIf="username.invalid && username.dirty && username.touched"
        >
          <mat-card-content
            >Username Must Be Minimum of 3 Characters !</mat-card-content
          >
        </mat-card>
      </div>
      <div>
        <mat-card *ngIf="myForm.errors">
          <mat-card-content>Password Not Matched !</mat-card-content>
        </mat-card>
      </div>
    </form>
  </div>
</div>
