@import "@angular/material/prebuilt-themes/indigo-pink.css";
$med: 767px;
mat-drawer-container {
  height: 100%;

  mat-drawer {
    width: 190px;
    background-color: #2d62ed;
  }
}
.main-content {
  background-color: #f4f7fe;
}
