@use "../../assets/sass/utilities/fonts" as *;
$large: 991px;
$med: 767px;
$small: 576px;

.route-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .ball {
    width: 10px;
    height: 10px;
    background-color: #2e4a79;
    border-radius: 50%;
  }
  .ball-functions {
    width: 10px;
    height: 10px;
    background-color: #ca4e82;
    border-radius: 50%;
  }
  .ball-line {
    width: 1px;
    height: 102px;
    background-color: #2e4a79;
    // margin-top: 2rem;
  }
}

.header {
  background-color: #ffffff;
}
::ng-deep .mat-tab-list .mat-tab-labels {
  display: flex;
  justify-content: center;
}

.factories {
  align-items: baseline;
  .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: 576px) {
      & {
        justify-content: center;
      }
    }
    .factory-name {
      padding: 10px;
      display: flex;
      background-color: rgba(45, 98, 237, 0.3019607843);
      padding: 5px;
      justify-content: center;
      align-items: center;
      background-color: #2d62ed4d;
      border-radius: 10px;
      margin: 0 10px;
      @media screen and (max-width: 576px) {
        & {
          width: 100%;
          margin-bottom: 10px;
        }
      }
      i {
        color: #2d62ed;
        margin: 0 10px;
      }
      h2 {
        margin: 0 8px 0 0;
        color: #2d62ed;
        font-family: $font-family-base;
        font-weight: $font-semi-bold;
        font-size: 14px;
      }
    }
    i {
      &:last-of-type {
        color: #b2bec3;
        margin: 0 10px;
      }
      &:nth-child(2) {
        color: #2d62ed;
        background-color: #2d62ed4d;
        padding: 5px;
        border-radius: 10px;
        margin: 0 10px;
      }
    }
  }
  .date {
    display: flex;
    margin-top: 15px;
    // justify-content: space-between;
    align-items: center;
    h2 {
      color: #b2bec3;
      font-size: 12px;
      font-family: $font-family-base;
      font-weight: $font-semi-bold;
      padding: 0 20px;
      transition: 0.3s;
      margin: 0;
      cursor: pointer;
      &:hover {
        color: #2d62ed;
        background-color: #2d62ed4d;
        // padding: 5px;
        border-radius: 10px;
        // margin: 0 10px;
      }
    }
    ::ng-deep .mat-date-range-input-container {
      display: none;
    }
    ::ng-deep .mat-date-range-input.mat-date-range-input {
      width: fit-content;
    }
    i {
      cursor: pointer;
    }
  }
}
.content {
  @media screen and (max-width: 576px) {
    & {
      justify-content: center !important;
    }
  }
  .url-nav {
    h1 {
      color: #003f5c;
      font-size: 15px;
      font-family: $font-family-base;
      font-weight: bold;
    }
  }
  .btns {
    input {
      background-color: #ffffff;
      padding: 5px;
      width: 230px;
      height: 35px;
      outline: none;
      border-radius: 10px;
      box-shadow: 0px 3px 10px #0000001a;
      border: none;
      position: relative;
      &::placeholder {
        font-size: 12px;
        font-family: $font-family-base;
        font-weight: 300;
        padding: 10px;
      }
    }
  }
}
.row {
  gap: 20px;
  justify-content: center;
  .total-production {
    border-radius: 10px !important;
    .info {
      img {
        margin: 0px 10px;
      }
      h2 {
        font-size: 14px;
        font-family: $font-family-base;
        font-weight: $font-semi-bold;
      }
    }
    .production {
      height: 100px;
      h2 {
        font-weight: $font-semi-bold;
        font-family: $font-family-base;
        span {
          font-family: $font-family-base;
          font-size: 13px;
          font-weight: $font-semi-bold;
        }
      }
      p {
        font-size: 12px;
        transition: 0.3s;
        cursor: pointer;
        color: #9d9d9d;
        &:hover {
          color: #2d62ed;
        }
      }
    }
    .progression {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        margin: 0;
        font-weight: $font-semi-bold;
        font-family: $font-family-base;
        font-size: 24px;
      }
      .progress {
        width: 75%;
        height: 10px;
        border-radius: 10px;
        // .progress-bar {
        //   background-color: #2d62ed;
        // }
      }
    }
  }
  .performance {
    position: relative;
    .info {
      i {
        margin: 0px 10px;
      }
      h2 {
        font-size: 14px;
        font-family: $font-family-base;
        font-weight: $font-semi-bold;
      }
    }
    .indicators {
      .progress {
        transform: rotate(-90deg);
        width: 6rem;
        height: 0.6rem;
        position: absolute;
        bottom: 5rem;
      }
      h1 {
        font-size: 12px;
        position: absolute;
        bottom: -10px;
        left: 30px;
        font-family: $font-family-base;
        font-weight: $font-semi-bold;
      }
    }
    .legend.marker.fillColors {
      background-color: red;
    }
  }
}
.alerts {
  border-radius: 10px !important;
  .info {
    ::ng-deep .mat-tab-label-active {
      color: #ec5967;
      font-family: $font-family-base;
      font-weight: bold;
      position: relative;
      margin: 0 25px !important;
      &::before {
        content: "";
        width: 8px;
        height: 8px;
        left: -24px;
        background-color: #ec5967;
        border-radius: 50%;
        position: absolute;
        bottom: 6px;
      }
    }
  }
  .production {
    height: fit-content;
    .actual {
      text-align: center;
      img {
        width: 30px;
      }
      h2 {
        font-size: 8px;
      }
    }
    .planned {
      h2 {
        font-size: 11px !important;
      }
    }
  }
}

.ball {
  width: 12px;
  height: 12px;
  background-color: #00d1de;
  border-radius: 50%;
}

.job-order-process {
  .content {
    @media screen and (max-width: 576px) {
      & {
        justify-content: space-between !important;
      }
    }
  }
  color: #003f5c;
  max-height: 400px;
  overflow: auto;
  h2 {
    font-weight: bold;
    font-size: 14px;
    font-family: $font-family-base;
  }
  p {
    font-family: $font-family-base;
    margin: 0;
    font-weight: $font-semi;
    font-size: 12px;
    color: #4c788d80 !important;
  }
  .planned {
    p {
      line-height: 2;
    }
  }
  .actual {
    p {
      line-height: 2;
    }
  }
}
:host ::ng-deep .mat-tab-group-dynamic-height .mat-tab-body-content {
  overflow-y: auto !important;
}
:host ::ng-deep .mat-tab-body-content {
  overflow-y: auto !important;
}
