<div class="row justify-content-center gap-2">
  <div class="col-lg-8 bg-white shadow p-3 mb-5 bg-white rounded flow-chart">
    <div class="title">
      <i class="material-icons">sync_alt</i>
      <h2>Production Flow</h2>
    </div>
    <hr />
    <div class="row text-center">
      <div class="col-lg-4 col-sm-12">
        <img src="./assets/img/flow1.png" alt="" />
      </div>
      <div class="col-lg-4 col-sm-12">
        <img src="./assets/img/flow2.png" alt="" />
      </div>
      <div class="col-lg-4 col-sm-12">
        <img src="./assets/img/flow1.png" alt="" />
      </div>
    </div>
  </div>
  <div class="col-lg-3 bg-white shadow p-3 mb-5 bg-white rounded labels">
    <div class="title">
      <i class="material-icons">label_outline</i>
      <h2>Labels</h2>
    </div>
    <hr />
    <div class="main-content">
      <div class="tools">
        <div class="ball"></div>
        <div class="ball-line"></div>
        <div class="d-flex">
          <div class="colorful-balls" style="background-color: #a0c73a"></div>
          <div class="colorful-balls" style="background-color: #00d3be"></div>
          <div class="colorful-balls" style="background-color: #ffa600"></div>
          <div class="colorful-balls" style="background-color: #fb7644"></div>
          <div class="colorful-balls" style="background-color: #ca4e82"></div>
          <div class="colorful-balls" style="background-color: #994f90"></div>
        </div>
        <div class="d-flex">
          <div
            class="colorful-balls"
            style="background-color: transparent; border: 1px solid #a0c73a"
          ></div>
          <div
            class="colorful-balls"
            style="background-color: transparent; border: 1px solid #00d3be"
          ></div>
          <div
            class="colorful-balls"
            style="background-color: transparent; border: 1px solid #ffa600"
          ></div>
          <div
            class="colorful-balls"
            style="background-color: transparent; border: 1px solid #fb7644"
          ></div>
          <div
            class="colorful-balls"
            style="background-color: transparent; border: 1px solid #ca4e82"
          ></div>
          <div
            class="colorful-balls"
            style="background-color: transparent; border: 1px solid #994f90"
          ></div>
        </div>
        <div class="two-bar d-flex align-items-center">
          <div
            style="height: 10px; width: 5px; background-color: #2e4a79"
          ></div>
          <div style="color: #2e4a79">-----</div>
          <div
            style="height: 10px; width: 5px; background-color: #2e4a79"
          ></div>
        </div>
        <div class="one-bar d-flex align-items-center">
          <div
            style="height: 10px; width: 5px; background-color: #2e4a79"
          ></div>
          <div style="color: #2e4a79">-----</div>
        </div>
        <div class="one-bar-opacity d-flex align-items-center">
          <div
            style="height: 10px; width: 5px; background-color: #2e4a79"
          ></div>
          <div style="color: #2e4a79">-----</div>
        </div>
      </div>
      <div class="tools-title">
        <h2>Job Order</h2>
        <h2>Route</h2>
        <h2>Done Process</h2>
        <h2>Pending Process</h2>
        <h2>Sub-Product</h2>
        <h2>Product</h2>
        <h2>Scrap</h2>
      </div>
    </div>
    <hr />
    <div class="functions">
      <h2>Functions</h2>
      <div class="functions-name">
        <h2 class="d-flex align-items-center">
          <div class="colorful-balls" style="margin: 0 10px 0 0"></div>
          Function Name
        </h2>
        <h2 class="d-flex align-items-center">
          <div
            class="colorful-balls"
            style="margin: 0 10px 0 0; background-color: #a0c73a"
          ></div>
          Function Name
        </h2>
        <h2 class="d-flex align-items-center">
          <div
            class="colorful-balls"
            style="margin: 0 10px 0 0; background-color: #ec5967"
          ></div>
          Function Name
        </h2>
        <h2 class="d-flex align-items-center">
          <div
            class="colorful-balls"
            style="margin: 0 10px 0 0; background-color: #fb7644"
          ></div>
          Function Name
        </h2>
        <h2 class="d-flex align-items-center">
          <div
            class="colorful-balls"
            style="margin: 0 10px 0 0; background-color: #d0ba05"
          ></div>
          Function Name
        </h2>
        <h2 class="d-flex align-items-center">
          <div
            class="colorful-balls"
            style="margin: 0 10px 0 0; background-color: #ffa600"
          ></div>
          Function Name
        </h2>
      </div>
    </div>
  </div>
</div>
