<mat-nav-list>
  <h2>MES</h2>
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    mat-list-item
    routerLink="/dashboard"
    class="mt-4"
  >
    <i class="material-icons">dashboard</i> Dashboard
  </a>
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    mat-list-item
    routerLink="/resources"
  >
    <i class="material-icons">inventory</i> Resources
  </a>
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    mat-list-item
    routerLink="/manufacturing"
  >
    <i class="material-icons">factory</i> Manufacturing
  </a>
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    mat-list-item
    routerLink="/machines"
  >
    <i class="material-icons">plumbing</i> Machines
  </a>
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    mat-list-item
    style="position: absolute; bottom: 0"
    (click)="logOut()"
  >
    <i class="material-icons">logout</i> Logout
  </a>
</mat-nav-list>
