mat-nav-list {
  h2 {
    color: #ffff;
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: 1rem;
  }
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .material-icons {
    margin-right: 1rem;
  }
  .mat-list-item {
    color: #ffffff;
    height: 50px !important;
    // border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
    opacity: 0.7;

    &:hover {
      background-color: #00000029 !important;
    }
  }
  .active {
    opacity: 1;
  }
}

// .content {
//   color: white;
//   .logo {
//     display: flex;
//     justify-content: center;
//     margin: 15px 0 40px 0;
//     span {
//       font-size: 20px;
//       font-weight: 500;
//       margin: 0 20px !important;
//     }
//   }
//   ul {
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     li {
//       display: flex;
//       align-items: center;
//       height: 55px;
//       opacity: 0.7;
//       transition: 0.3s;
//       &:hover,
//       &.active,
//       .nav-list-open {
//         opacity: 1;
//       }

//       i {
//         width: 20px;
//         height: 25px;
//         margin-right: 25px;
//         margin-left: 10px;
//         line-height: 25px;
//         text-align: center;
//       }
//       span {
//         width: 115px;
//         a {
//           color: #ffffff;
//         }
//       }
//     }
//   }

// }
// .active {
//   background-color: #00000029;
//   border-top-right-radius: 30px;
//   border-bottom-right-radius: 30px;
// }
