@use "../../../assets/sass/utilities/fonts" as *;
@use "../../../assets/sass/utilities/breakpoints" as *;
$large: 991px;
$med: 767px;
$small: 576px;

.ball {
  width: 12px;
  height: 12px;
  background-color: var(--sec-color);
  border-radius: 50%;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
  transition: 0.3s;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
  transition: 0.3s;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.mat-table {
  overflow-x: scroll;
}

::ng-deep
  .mat-tab-body-content.ng-tns-c121-7.ng-trigger.ng-trigger-translateTab {
  height: 100%;
  overflow: auto;
}

table td {
  font-size: 12px;
  font-family: $font-family-base;
  font-weight: $font-semi;
}
table th {
  font-size: 12px;
  font-family: $font-family-base;
  font-weight: bold;
}

.layers-option {
  height: fit-content;
  h2 {
    font-size: 14px;
    display: flex;
    align-items: center;
    i {
      margin-right: 5px;
    }
  }
  mat-form-field {
    width: 100%;
  }
  .checklist {
    ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
      font-family: $font-family-base;
      font-weight: $font-semi-bold;
      font-size: 13px;
    }
    ::ng-deep .mat-checkbox-inner-container {
      height: 13px;
      width: 13px;
    }
    ::ng-deep
      .mat-button-toggle-standalone.mat-button-toggle-appearance-standard:not(
        [class*="mat-elevation-z"]
      ),
    .mat-button-toggle-group-appearance-standard:not(
        [class*="mat-elevation-z"]
      ) {
      box-shadow: 0 0 10px #ddd !important;
      @include breakpoint(small) {
        font-size: 10px;
      }
    }
    ::ng-deep .mat-button-toggle-checked {
      background-color: var(--main-color) !important;
      color: #ffffff;
    }

    ::ng-deep .mat-button-toggle-appearance-standard {
      color: #4c788d;
      font-weight: $font-semi-bold;
    }

    ::ng-deep .mat-button-toggle-label-content {
      line-height: 1.6 !important;
      padding: 6px 12px !important;
    }
    ::ng-deep span.mat-button-toggle-label-content {
      font-size: 10px;
    }
    ::ng-deep .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
      color: #ffffff !important;
      font-family: $font-family-base !important;
      font-weight: bold !important;
    }
    ::ng-deep span.mat-button-toggle-label-content {
      font-family: $font-family-base;
    }

    .content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      padding: 1.5rem 0;
      row-gap: 1.5rem;
      text-align: center;
    }
    mat-slider {
      width: 100%;
    }
  }
}
